// Import font(s) from google.

// Mixins
@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon/icomoon.eot?1z9v6x");
  src:
    url("./assets/fonts/icomoon/icomoon.eot?1z9v6x#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"),
    url("./assets/fonts/icomoon/icomoon.woff?1z9v6x") format("woff"),
    url("./assets/fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icomoon() {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Variables
$font-primary: "Open Sans", Arial, sans-serif;
$font-secondary: "Pinyon Script", serif;
$brand-primary: #ffa33e;
$brand-black: #000000;
$brand-white: #ffffff;
$brand-dropdown: #85c8dd;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;
